extends layout

block content
  h1= title
  p Welcome to #{title}
  br

  h2= 'Register new item/box and contents'
  br
  br
  form(action='/order', method='post')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='1000', required='required')
    div.input
      span.label Item
      input(type='text', name='item', placeholder='Halloween pumpkins', required='required')
    div.input
      span.label Room
      br
      select(name='room', placeholder='kitchen', required='required')
        - rooms = [ 'kitchen', 'kitchen pantry', 'great room', 'dining room', 'pictures/art', 'foyer', '1st floor bathroom', 'garage', 'basement', 'basement closet', 'bonus room', 'main suite bedroom', 'craft room', 'main suite bathroom', 'second floor bathroom', 'avery bedroom', 'tyler bedroom', 'guest bedroom']
        each item in rooms
          option(selected='kitchen' == item) #{item}
    div.input
      span.label Destination
      br
      select(name='destination', placeholder='day', required='required')
        - destinations = [ 'move it', 'store it', 'get rid of it']
        each item in destinations
          option(selected='day' == item) #{item}  
    div.actions
      input(type='submit', value='Create')
  br
  br
  h2= 'View item'
  br
  br
  form(action='/order', method='get')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='foo', required='required')
    div.actions
      input(type='submit', value='View')

  br
  br
  h2= 'View inventory status'
  br
  br
  form(action='/inventory', method='get')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='foo', required='required')
    div.actions
      input(type='submit', value='View')