extends layout

block content
  h1= title
  p Welcome to #{title}
  br

  h2= 'Register new item/box and contents'
  br
  br
  form(action='/order', method='post')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='1000', required='required')
    div.input
      span.label Item
      input(type='text', name='item', placeholder='Halloween pumpkins', required='required')
    div.actions
      input(type='submit', value='Create')

  br
  br
  h2= 'View item'
  br
  br
  form(action='/order', method='get')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='foo', required='required')
    div.actions
      input(type='submit', value='View')

  br
  br
  h2= 'View inventory status'
  br
  br
  form(action='/inventory', method='get')
    div.input
      span.label Id
      input(type='text', name='id', placeholder='foo', required='required')
    div.actions
      input(type='submit', value='View')